/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 21, 2025, 10:31:44 AM
    Author     : 230268178
*/

@import url('color.css');

body{
    background-image: url("../img/index_bg.png");
    background-size: cover; /* or 'contain' */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}